{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}スケジュール管理アプリ{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- ヘッダー -->
    <header class="mb-4 bg-light py-3 text-center">
        <div class="container">
            <h1>スケジュール管理アプリ</h1>
            <img src="{% static 'images/schedule.jpeg' %}" alt="ヘッダー画像" class="img-fluid my-3">
        </div>
    </header>
    
    <!-- コンテンツ -->
    <main class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>

    <!-- フッター -->
    <footer class="text-center mt-auto py-3 bg-light">
        <div class="container">
            <p>&copy; 2024 スケジュール管理アプリ</p>
        </div>
    </footer>
</body>
</html>